body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #00008b; /* Deep blue text */
    background-color: #cff4ff; /* Light sky blue background */
    min-height: 100vh;
    display: flex;
    flex-direction: row;
}

#toggleSidebar {
    position: fixed;
    z-index: 2;
    top: 10px;
    left: 10px;
    cursor: pointer;
}

#sidebar {
    width: 250px;
    background-color: #00008b;
    color: #cff4ff;
    height: 100vh; /* Full height */
    transition: width 0.5s;
    overflow-x: hidden;
}

#sidebar.collapsed {
    width: 0;
    /*overflow: hidden;*/
}

#navbar {
    list-style-type: none;
    padding: 0;
}

#navbar a {
    display: block;
    color: #cff4ff;
    padding: 10px;
    text-decoration: none;
    text-align: center;
}

#sidebar h1 {
    padding: 25px;
    text-align: center;
    font-size: 40px;
    margin-top: 50px;
}

main {
    flex-grow: 1; /* Take up remaining space */
    transition: margin-left 0.5s;
    padding: 20px;
    overflow: hidden;
}

main:not(.collapsed) {
    margin-left: 250px; /* Same as sidebar width when it's not collapsed */
}

main.collapsed {
    margin-left: 250px; /* Remove margin when sidebar is collapsed */
}
