body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #00008b; /* Deep blue text */
    background-color: #cff4ff; /* Light sky blue background */
    min-height: 100vh;
    display: flex;
    flex-direction: row;
}

#toggleSidebar {
    position: fixed;
    z-index: 2;
    top: 10px;
    left: 10px;
    cursor: pointer;
}

#sidebar {
    width: 250px;
    background-color: #00008b;
    color: #cff4ff;
    height: 100vh; /* Full height */
    transition: width 0.5s;
    overflow-x: hidden;
}

#sidebar.collapsed {
    width: 0;
    /*overflow: hidden;*/
}

#navbar {
    list-style-type: none;
    padding: 0;
}

#navbar a {
    display: block;
    color: #cff4ff;
    padding: 10px;
    text-decoration: none;
    text-align: center;
}

#sidebar h1 {
    padding: 25px;
    text-align: center;
    font-size: 40px;
    margin-top: 50px;
}

#search-button {
    padding: 10px;
    height: 50px;
    width: 70px;
    margin-left: 10px;
    margin-top: 15px;
    background-color: #00008b; /* Deep blue to match the theme */
    color: #cff4ff; /* Light sky blue text to complement the theme */
    border: none; /* Remove default border */
    border-radius: 15px; /* Rounded corners */
    cursor: pointer; /* Change cursor to pointer to indicate it's clickable */
    transition: background-color 0.3s; /* Smooth transition for hover effect */
}

#search-button:hover {
    background-color: #cff4ff; /* Light sky blue background on hover */
    color: #00008b; /* Deep blue text on hover */
}

#home h2 {
    margin-top: 75px;
    font-size: 30px;
    margin-bottom: 30px;
}

#home h4 {
    font-size: 18px;
}

#home p {
    font-size: 18px;
    margin-bottom: 45px;
}

#services h2 {
    margin-top: 75px;
    font-size: 30px;
    margin-bottom: 30px;
}

#contact h2 {
    margin-top: 75px;
    font-size: 30px;
    margin-bottom: 30px;
}

#about h2 {
    margin-top: 75px;
    font-size: 30px;
    margin-bottom: 30px;
}

main {
    flex-grow: 1; /* Take up remaining space */
    transition: margin-left 0.5s;
    padding: 20px;
    overflow: hidden;
}

main:not(.collapsed) {
    margin-left: 250px; /* Same as sidebar width when it's not collapsed */
}

main.collapsed {
    margin-left: 250px; /* Remove margin when sidebar is collapsed */
}

#zip-container {
    padding: 10px;
}

#radius-container {
    padding: 10px;
}

#range-search {
    width: 60%; /* Adjust based on your layout preference */
    height: 60px;
    padding: 10px;
    border: 2px solid #00008b; /* Color to match your theme */
    border-radius: 25px; /* Rounded corners */
    outline: none; /* Removes the default focus outline */
}

#range-search:hover {
    border-color: #cff4ff; /* Hover effect color change */
}

#zipcode-search {
    width: 60%; /* Adjust based on your layout preference */
    height: 60px;
    padding: 10px;
    border: 2px solid #00008b; /* Color to match your theme */
    border-radius: 25px; /* Rounded corners */
    outline: none; /* Removes the default focus outline */
}

#zipcode-search:hover {
    border-color: #cff4ff; /* Hover effect color change */
}
